services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    ports:
      - "${PORT:-8080}:80"
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped
